/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --lime-accent: #9acb34;
  --teal-accent: #45ada8;
  --blue-accent: #4285f4;
  --yellow-accent: #fce100;
  --green-accent: #16c60c;
  --orange-accent: #f7630c;
  --red-accent: #e81224;
  --dark: #363e4b;
  --medium: #3c4758;
  --light: #fbf8ef;
  --black: #0a1128c9;
  --emboss: 6px 6px 10px rgba(0, 0, 0, 0.1),
    -6px -6px 10px rgba(255, 255, 255, 0.8);
  --deboss: inset 6px 6px 10px rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px rgba(255, 255, 255, 0.8);
}

body {
  background-color: var(--teal-accent);
  color: var(--black);
}

body::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green-accent);
  border-radius: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: pulse 10s linear alternate infinite;
          animation: pulse 10s linear alternate infinite;
  -webkit-transition: top 0.75s ease-in-out;
  transition: top 0.75s ease-in-out;
}

.modal .hologram {
  position: relative;
  top: 8rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--black);
}

.modal .modal-content {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-content label {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 500;
}

.modal .modal-content input {
  padding: 0.25rem;
  font-size: 1em;
  color: var(--black);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #0a1128a9;
  -webkit-transition: border 0.25s ease-in-out;
  transition: border 0.25s ease-in-out;
}

.modal .modal-content input::-webkit-input-placeholder {
  font-size: 1em;
  color: var(--black);
}

.modal .modal-content input:-ms-input-placeholder {
  font-size: 1em;
  color: var(--black);
}

.modal .modal-content input::-ms-input-placeholder {
  font-size: 1em;
  color: var(--black);
}

.modal .modal-content input::placeholder {
  font-size: 1em;
  color: var(--black);
}

.modal .modal-content input:focus {
  outline: none !important;
  border-color: var(--red-accent);
}

.modal .modal-content p {
  color: var(--red-accent);
}

.modal .modal-content .close {
  all: unset;
  margin-top: 1.25rem;
  padding: 0.2rem 0.35rem;
  color: var(--black);
  border: 3px solid #0a1128a9;
  font-size: 1em;
  font-weight: 600;
  border-radius: 0.5rem;
}

.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    background-color: var(--teal-accent);
  }
  100% {
    background-color: var(--lime-accent);
  }
}

@keyframes pulse {
  0% {
    background-color: var(--teal-accent);
  }
  100% {
    background-color: var(--lime-accent);
  }
}
/*# sourceMappingURL=main.css.map */